﻿@model MovieStore.ViewModel.CustomerFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(m => m.Customer.Id)
        @{
            if (Model.Customer.Id != 0)
            {
                @:<h3>Edit Customer</h3>
            }
            else
            {
                @:<h3>Add New Customer</h3>
            }
        }
        <hr />
        @Html.ValidationSummary(true, "Please fix the follwing errors.")
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.Name)
            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Customer.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.MembershipTypeId)
            @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.Birthdate)
            @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Customer.Birthdate)
        </div>
        <div class="form-group">
            <label>
                @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed to Newsletter?
            </label>
        </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-sm btn-success">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}