﻿@model IEnumerable<MovieStore.Models.Movie>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<br />
<table id="movies" class ="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data:"genre.name"
                    },
                ]
            });
        });
    </script>

    }

